<a href="https://colab.research.google.com/github/410650377/introduction-to-Computers/blob/main/1102%E8%B2%A1%E6%9E%90%E4%BD%9C%E6%A5%AD1_%E5%BC%B5%E5%93%B2%E7%91%8B_410650377.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pandas_datareader.data as wb
import datetime
start=datetime.datetime(2018,1,3)
end =datetime.datetime(2022,2,15)

In [4]:
sqcl= wb.DataReader("NVDA", "stooq",    start, end)['Close']
sqcl

Date
2022-02-15    264.6970
2022-02-14    242.4450
2022-02-11    239.2670
2022-02-10    258.0020
2022-02-09    266.7970
                ...
2018-01-09     54.9210
2018-01-08     54.9370
2018-01-05     53.3123
2018-01-04     52.8616
2018-01-03     52.5818
Name: Close, Length: 1038, dtype: float64